<h3>Sign Up</h3>
<form action="/signup" method="POST">

<label>Create Username:</label>
  <input type="text" name="username" placeholder="Username:">

<label>Create Password:</label>
  <input type="password" name="password" placeholder="Password:">

<label>Create Email:</label>
  <input type="text" name="email" placeholder="Email:">

  <input type="submit" value="Sign Up">
</form>
