<h3>Sign Up</h3>
<form action="/signup" method="POST">

<label>Create Username:</label>
  <input type="text" name="username" ><br><br>

<label>Create Password:</label>
  <input type="password" name="password" ><br><br>

<label>Create Email:</label>
  <input type="text" name="email" ><br><br>

  <input type="submit" value="Sign Up">
</form>
