<h1> Bands our users have seen or added</h1>

  <ol>
  <% @bands.each do |band| %>
    <li><%= band.name %>
        <label>Concerts:
          (<%=band.concerts.count%>)
          </label>
    </li>
  <% end %>
  </ol>
