<h1> Add a concert </h1>

<div style="width: 500px;">
  <form method="POST" action="/concerts">

  <div style="float: left; width: 200px;">
    <label> Bands: </label>
        <% Band.all.each do |band| %>
          <p>
            <label><%= band.name %></label>
            <input type="radio" name="concert[band_id][]" value="<%= band.id %>">
          </p>
        <% end %>

      <p>Add or create band</p>
      <input type='text' name="concert[band_name]">
    </div>

  <div style="float: left; width: 200px;">
    <label>Venue Name:</label>
    <% Venue.all.each do |venue| %>
      <p>
        <label><%= venue.name %></label>
        <input type="radio" name="concert[venue_id][]" value="<%= venue.id %>">
      </p>
    <% end %>

      <p>Add or Venue</p>
      <input type='text' name="concert[venue_name]">
    </div>

  <div style="float: left; width: 100px;">
    <label>Concert Date</label>
    <input type='date' name="concert[date]">
  </div>

  <br style="clear: left;" />
</div>

  <input type="submit" value="Add a Concert">

  </form>
