<h1> Add a concert </h1>

<form method="POST" action="/concert">

  <label> Bands: </label>
      <% Band.all.each do |band| %>
        <p>
          <label><%= band.name %></label>
          <input type="checkbox" name="band[]" value="<%= band.id %>">
        </p>
      <% end %>

    <p>Add or create band</p>
    <input type='text' name=create_band[name]>
  </br>

  <label>Concert Date</label>
    <input type"text" name=concert[date] ><br><br>

  <label>Venue Name</label>
  <% Venue.all.each do |venue| %>
    <p>
      <label><%= venue.name %></label>
      <input type="checkbox" name="venue[]" value="<%= venue.id %>">
    </p>
  <% end %>

    <p>Add or Venue</p>
    <input type='text' name=create_venue[name]>

  <input type="submit" value="Add a Concert">
</form>
