<h1> Add a concert you have been too! </h1>

<form method="POST" action="/concert">

  <label>Band Name</label><br>
    <input type='text' name=band[name]>
    <p>Add or create band</p></br>

  <label>Concert Name</label>
    <input type"text" name=concert[name] >
  <label>Concert Date</label>
    <input type"text" name=concert[date] ><br><br>

  <label>Venue Name</label>
    <input type='text' name=venue[name]>
    <p>Add or create band</p>

  <input type="submit" value="Add a Concert">
</form>
