<div class="backgroundindex"
style='border-top: 0px;
background-image: url("images/pexels-photo-196652.jpg");
background-repeat: no-repeat;
background-size: auto;
height: 100vh'>

<h1> Welcome to Concert log </h1>
<p> Did you attend some concerts last year?</p>
<p> Do you remember all of the artists you saw?</p>
<p> How many shows have you seen at Red Rocks?</p>
<p> Your friend Bob has been to 8 Phish shows and you never went together?</p>

<h1> Members have added the following experiences:</h1>
<p> Concerts(<%= Concert.all.count %>) <p>
<p> Venues(<%= Venue.all.count %>) </p>
<p> Bands(<%= Band.all.count %>) </p>
</div>
