<h1> Welcome to Concert log </h1>
<p> Did you attend some concerts last year?</p>
<p> Do you remember all of the artists you saw?</p>
<p> How many shows have you seen at Red Rocks?</p>
<p> Your friend Bob has been to 8 Phish shows and you never went together?</p>
