<!DOCTYPE html>
<html lang="en">
<head>

  <link href='https://fonts.googleapis.com/css?family=Bangers|Open+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/drop-in.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>I was There</title>
</head>


<body>

<nav style="background: lightgray; height: 50px">

   <% if is_logged_in? %>
    <label style= "background: grey"> I was There</label>

      <a href='/users/<%=session[:user_id]%>'>My Concerts</a>
      <a href="/concerts">Concerts</a>
      <a href="/bands">Bands</a>
      <a href="/logout">Log Out</a>
  <% else %>
      <label style= "background: grey">  I was There</label>

      <a href="/login" >Login</a>
      <a href="/signup" >Signup</a>
  <% end %>
</nav>

<%= yield %>

</body>
</html>
