<body>
<nav>
  <% if is_logged_in? %>
      <a href="/">Home</a>
      <a href="/logout">Log Out</a>
  <% else %>
      <a href="/">Home</a>
      <a href="/login" >Login</a>
      <a href="/signup" >Signup</a>
  <% end %>
</nav>

<%= yield %>
</body>
