<body>

<nav>

   <% if is_logged_in? %> 
    <label style=background-color:grey>  I was There</label>
      <a href="/">Home</a>
      <a href='/users/<%=session[:user_id]%>'>My Concerts</a>
      <a href="/concerts">Concerts</a>
      <a href="/bands">Bands</a>
      <a href="/logout">Log Out</a>
  <% else %>
      I was There
      <a href="/">Home</a>
      <a href="/login" >Login</a>
      <a href="/signup" >Signup</a>
  <% end %>
</nav>

<%= yield %>
</body>
