<div class="errorpage" style='border-top: 0px;
background-image: url("images/pexels-photo-196652.jpg");
background-repeat: no-repeat;
background-size: auto;
height: 100vh'>
<!-- My inline style needed beacsuae of where file is siting? -->

<h1> You don't have to got <a href='/'>Home</a> but you can't stay here!</h1>
</div>
